.navbar-brand img {
  width: 130px;
}

.feature-item img {
  width: 80px;
  height: auto;
}

.main-header {
  margin-top: 105px;
}

.subscribe {
  background-image: url("./img/subscribe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brand-icon img{
  width: 130px;
}

.copy-right {
  background-color: #000;
}